#fun_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 5%;
}

#img_castle {
    display: block;
    width: 100%;
}

.center_castle_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    width: 100%;
}

.row-1 {
    position: relative;
    text-align: center;
    color: white;
}

.row {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inline {
    display: inline-block;
}

body {
    margin: 0;
}

.blue {
    color: #003B73;
}

.about_col {
    width: 20%;
}

.about_img {
    width: 20%;
    min-height: 300px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.about_row3_col {
    width: 60%;
}

.footer {
    text-align: center;
}

#about_main {
    font-family: Cairo;
}