@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Lato:wght@400;500;600;700;900&display=swap');

#fun_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 5%;
}

.center_castle_text {
    font-size: 64px;
    font-weight: 600;
}

.row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../src/castle.jpg');
    height: 500px;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    display: flex;
    height: auto;
}

body {
    margin: 0;
}

.about_col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    padding: 20px;
}

h1 {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: 800;
}

p {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.about_row3_col {
    width: 60%;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}

.about_img {
    width: 20%;
}

#about_main {
    font-family: Cairo;
}

.about_button_reservasi {
    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 47px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #003B73;
    border-radius: 15px;
    color: #003B73;
    text-decoration: none;
    transition: 0.5s;
}

.about_button_reservasi:hover {
    transition: 0.5s;
    background-color: #003B73;
    color: white;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.about_bg_blue {
    background-color: #003B73;
}

.about_c_white {
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.cairo{
  font-family: 'Cairo', sans-serif;
}

.parent-flex{
  display: flex;
}

.left-container{
  flex:5;
  padding: 7% 13%;
}

.left-container #title{
  font-size: 72px;
  font-family: 'Lato', sans-serif;
}

.left-container #about{
  background-color: #EE4848;
  color: white;
  font-weight: 900;
  text-decoration: none;
  padding: 13px 20px;
  border-radius: 15px;
}

.right-container{
  flex:4;
  height: 100%;
}

.right-container .reservasi{
  text-align: center;
  margin: 15% 20% 15% 0%;
  border:5px solid #266E97;
  border-radius: 15px;
}

.right-container .reservasi .form{
  margin: 1% 9%;
  text-align:left;
  font-weight: 600;
  font-size: 19px;
}

.right-container .reservasi .form input{
  background-color: #DBE9FF;
  border: 1px solid black;
  height: 30px;
  width: 100%;
}

#tombol-submit{
  background-color: #003B73;
  color: white;
  font-weight: 600;
  border: 0px;
  border-radius: 15px;
  height: 50px;
  font-size: 100%;
  width: 40%;
  margin: 0% 30%;
}

.right-container .reservasi .form select{
  background-color: #DBE9FF;
  border: 1px solid black;
  height: 30px;
  width: 100%;
}

.cairo{
  font-family: 'Cairo', sans-serif;
}

.parent-flex{
  display: flex;
}

.left-container{
  flex:5;
  padding: 7% 13%;
}

.left-container #title{
  font-size: 72px;
  font-family: 'Lato', sans-serif;
}

.left-container #about{
  background-color: #EE4848;
  color: white;
  font-weight: 900;
  text-decoration: none;
  padding: 13px 20px;
  border-radius: 15px;
}

.right-container{
  flex:4;
  height: 100%;
}

.right-container .reservasi{
  text-align: center;
  margin: 15% 20% 15% 0%;
  border:5px solid #266E97;
  border-radius: 15px;
}

.right-container .reservasi .form{
  margin: 1% 9%;
  text-align:left;
  font-weight: 600;
  font-size: 19px;
}

.right-container .reservasi .form input{
  background-color: #DBE9FF;
  border: 1px solid black;
  height: 30px;
  width: 100%;
}

#tombol-submit{
  background-color: #003B73;
  color: white;
  font-weight: 600;
  border: 0px;
  border-radius: 15px;
  height: 50px;
  font-size: 100%;
  width: 40%;
  margin: 0% 30%;
}

.right-container .reservasi .form select{
  background-color: #DBE9FF;
  border: 1px solid black;
  height: 30px;
  width: 100%;
}