@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Lato:wght@400;500;600;700;900&display=swap');
.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-family: Cairo;
}

.nama-user {
    top: 16px;
    right: 10px;
    color: #1A6793;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

body {
    background-color: #DBE9FF;
    margin: 0;
}

html,
body {
    height: 99vh;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 90%;
    border-radius: 30px;
    border: solid 6px #266E97;
}

.bg-white {
    background-color: white;
}

.c-white {
    color: white;
}

.c-dark-blue {
    color: #1A6793;
}

.bg-dark-blue {
    background-color: #1A6793;
}

.bg-light-blue {
    background-color: #DBE9FF;
}

.login-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px
}

.login-fun-logo {
    width: 162px;
}

.login-tgl {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.login-tgl h2 {
    margin-left: auto;
}

.login-h1-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-box {
    width: 30%;
}

.login-isi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.footer2-box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-input {
    border: 3px transparent;
    height: 80px;
    width: 500px;
    padding-left: 15px;
    padding-top: 20px;
    background-color: #DBE9FF;
    transition: 0.1s;
    font-family: Cairo;
}

.login-box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.login-box label {
    position: absolute;
    top: 5px;
    left: 15px;
}

h1,
h2,
h3 {
    margin: 0;
}

.fw-700 {
    font-weight: 700;
}

.fs-18 {
    font-size: 18px;
}

.fs-24 {
    font-size: 24px;
}

.fs-36 {
    font-size: 36px;
}

.fs-48 {
    font-size: 48px;
}

.login-next-button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 40px;
    text-decoration: none;
    font-weight: 500;
    font-size: 64px;
    transition: 0.1s;
    border: solid 3px #1A6793;
}

.login-back-button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 94px;
    height: 94px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 64px;
    transition: 0.1s;
    border: solid 3px #EE4848;
    background-color: #EE4848;
}

.login-next-button:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    transition: 0.1s;
    background-color: white;
    color: #1A6793;
    border: solid 3px #1A6793;
}

.login-back-button:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    transition: 0.1s;
    background-color: white;
    color: #EE4848;
}

.button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 422px;
    height: 97px;
    cursor: pointer;
    background-color: #DBE9FF;
    border-radius: 30px;
    transition: 0.1s;
    border: solid 3px #1A6793;
}

.button:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    transition: 0.1s;
    background-color: white;
    color: #1A6793;
}

.button h2 {
    font-size: 24px;
    font-weight: 700;
    color: #1A6793;
}

.main-margin-button {
    margin-bottom: 40px;
}

.footer-button {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.footer-button:hover {
    text-decoration: underline;
    font-weight: 700;
}

.error-text-none {
    display: none;
}

.error-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
}

.log-isi {
    display: flex;
    align-items: center;
}

.log-isi-kiri {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
}

.log-isi-kiri-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 95%;
}

.log-kiri-row {
    width: 50%;
}

.log-kiri-row h2 {
    font-size: 24px;
}

.log-txt-biru {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DBE9FF;
}

.log-txt-biru h3 {
    display: block;
    width: 90%;
    font-size: 24px;
    font-weight: 700;
}

.log-txt-biru label {
    width: 90%;
    display: block;
}

.log-isi-kanan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
}

.log-isi-kanan-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 95%;
}

.log-download-box {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.log-download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: #DBE9FF;
    border-radius: 15px;
    color: #1A6793;
    border: solid 3px #DBE9FF;
    transition: 0.1s;
}

.log-download-button:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    transition: 0.1s;
    background-color: white;
    color: #1A6793;
    border: solid 3px #1A6793;
    cursor: pointer;
}

.log-download-button h2 {
    font-size: 28px;
    font-weight: 700;
}

.log-table-box {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    height: 60%;
    width: 100%;
}

.log-table-box-2 {
    width: 90%;
    height: 100%;
}

.log-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    border: solid 1px black;
}

.log-table tr,
td,
th {
    border: solid 3px black;
}

.log-table th {
    font-size: 22px;
}

.log-table td {
    font-size: 18px;
}

.log-table tr {
    height: 65px;
}

.log-kanan-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.log-kanan-footer-kiri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.log-kanan-footer-kanan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.log-table-next-button {
    color: #1A6793;
    background-color: #DBE9FF;
    border-color: #DBE9FF;
}

table,
tr,
td,
th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 1200;
}

th {
    height: 65px;
    font-size: 25px;
}

tr {
    height: 55px;
    font-size: 20px;
}

.action input {
    background-color: #DBE9FF;
    color: #1A6793;
    border: none;
    border-radius: 30px;
    padding: 5px 25px 5px 25px;
    font-size: 16px;
    font-family: Cairo;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 200px;
    background-color: #DBE9FF;
    color: #1A6793;
    border: solid 3px #DBE9FF;
    border-radius: 30px;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 700;
    text-decoration: none;
    transition: 0.1s;
}

.create:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    transition: 0.1s;
    background-color: white;
    cursor: pointer;
    border: solid 3px #1A6793;
}

.back,
.next {
    background-color: #DBE9FF;
    color: #1A6793;
    border: none;
    border-radius: 30px;
    padding: 8px 32px 8px 32px;
    font-size: 40px;
    font-family: Cairo;
    font-weight: 500;
    text-decoration: none;
}

.navs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.page {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.alertbox {
    display: none;
    position: fixed;
    background: #DBE9FF;
    border-radius: 15px;
    width: 600px;
    height: 350px;
    margin-top: 200px;
    border: solid 5px #266E97;
    font-family: Cairo;
    margin-left: 50%;
    transform: translate(-50%);
}

.alertboxhead {
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: 500;
    height: 10%;
}

.alertboxbody {
    text-align: center;
    color: #1A6793;
    font-size: 30px;
    font-weight: 700;
}

.alertboxbody1 {
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: 700;
}

.alertboxfoot {
    text-align: center;
    height: 20%;
}

#ok {
    background-color: #2f549e;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 7px 50px 7px 50px;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 600;
}

#yes,
#no {
    color: white;
    border: none;
    border-radius: 30px;
    padding: 7px 50px 7px 50px;
    font-size: 20px;
    font-family: Cairo;
    font-weight: 600;
}

#yes {
    background-color: green;
    margin-left: 5px;
}

#no {
    background-color: red;
    margin-right: 5px;
}

.txtButton {
    font-size: 24px;
    font-family: Cairo;
    font-weight: 700;
}

.update-button {
    border: solid 3px #DBE9FF;
    font-weight: 700;
    transition: 0.1s;
    border-radius: 30px;
    height: 40px;
    width: 100px;
    background-color: #DBE9FF;
    color: #1A6793;
    font-weight: 700;
}

.update-button:hover {
    border: solid 3px #1A6793;
    transition: 0.1s;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.input-date {
    width: 100%;
    font-size: 24px;
    font-family: Cairo;
}