.parent-flex{
  display: flex;
}

.left-container{
  flex:4;
  padding: 200px;
}

.left-container #title{
  font-size: 72px;
  font-family: 'Lato', sans-serif;
}

.left-container #about{
  background-color: #EE4848;
  color: white;
  text-decoration: none;
  font-family: 'Cairo';
  padding: 15px;
  border-radius: 15px;
}

.right-container{
  background-color: blue;
  flex:2;
  height: 100%;
}
